<%- include('../includes/header') %>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
<%- include('../includes/navigation') %>
<main class="centered">
  <h1><details>
    <hr>
    <h4><%= product.title %></h4>
    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
    <h4>$<%= product.price %></h4>
    <p><%= product.description %></p>
  </details></h1>
  <form action="/cart" method="post">
    <button type="submit">Add To Cart</button>
    <input type="hidden" name="productid" value="<%= product.id %>">
  </form>
</main>

<%- include('../includes/footer') %>