<%- include('../includes/header') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/card.css">
  </head>
  <body>
<%- include('../includes/navigation') %>
<main>

<% if (hasProducts) { %> 
                  <h1>Displaying content in Stock </h1> 
                  <hr>
  <div class="card-list">
    <div class="card-items">
      
      <% prods.forEach( product => { %>
                <div class="card">
                  <h2 class="item-title"><%= product.title %></h2>
                  <img src="<%= product.imageUrl %>" width="300px" />
                  <h2 class="item-price">$ <%= product.price %></h2>
                  <p class="card-text"><%= product.description%></p>

                  <%- include('../includes/add-to-cart', {product: product}) %>
                
                </div>

                <% }) %>
              </div>
        </div>

    <% } else { %>
      <h1>There Are No Products Yet</h1>
    <% } %>
</main>


    
<%- include('../includes/footer') %>